<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    
    <add name="EFConnectonString"
    providerName="System.Data.SqlClient"
    connectionString="Data Source=.;Initial Catalog=IMS;Integrated Security=False;User Id=webuser;Password=t0t0;MultipleActiveResultSets=True" />

  </connectionStrings>
</configuration>